//
//
// user.scss
//
// Place your own custom CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.
.alert {
  background: var(--danger);
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
}

span.help-block {
  color: var(--danger);
}

.notice {
  background-color: #4582EC;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding :20px;
}
