    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div>
                <span class="h6">People also View</span>
            </div>
            <a href="#">View all &rsaquo;</a>
        </div>
        <div class="card-body">
            <ul class="list-unstyled list-spacing-sm">

                <li>
                    <div class="media">
                        <a href="#">
                            <img alt="Image" src="/assets/img/graphic-product-bench-thumb.jpg" class="avatar avatar-square rounded mr-3" />
                        </a>
                        <div class="media-body">
                            <a href="#">
                                <span class="h6">Bench</span>
                            </a>
                            <span class="badge badge-secondary">Productivity</span>
                            <div class="text-muted">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <small><i class="icon-heart"></i> 373</small>
                                    </li>
                                    <li class="list-inline-item">
                                        <small><i class="icon-message"></i> 62</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="media">
                        <a href="#">
                            <img alt="Image" src="/assets/img/graphic-product-kin-thumb.jpg" class="avatar avatar-square rounded mr-3" />
                        </a>
                        <div class="media-body">
                            <a href="#">
                                <span class="h6">Kin</span>
                            </a>
                            <span class="badge badge-secondary">Lifestyle</span>
                            <div class="text-muted">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <small><i class="icon-heart"></i> 84</small>
                                    </li>
                                    <li class="list-inline-item">
                                        <small><i class="icon-message"></i> 21</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="media">
                        <a href="#">
                            <img alt="Image" src="/assets/img/graphic-product-paydar-thumb.jpg" class="avatar avatar-square rounded mr-3" />
                        </a>
                        <div class="media-body">
                            <a href="#">
                                <span class="h6">Paydar</span>
                            </a>
                            <span class="badge badge-secondary">Productivity</span>
                            <div class="text-muted">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <small><i class="icon-heart"></i> 253</small>
                                    </li>
                                    <li class="list-inline-item">
                                        <small><i class="icon-message"></i> 19</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="media">
                        <a href="#">
                            <img alt="Image" src="/assets/img/graphic-product-pipeline-thumb.jpg" class="avatar avatar-square rounded mr-3" />
                        </a>
                        <div class="media-body">
                            <a href="#">
                                <span class="h6">pipeline.js</span>
                            </a>
                            <span class="badge badge-secondary">Development</span>
                            <div class="text-muted">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <small><i class="icon-heart"></i> 84</small>
                                    </li>
                                    <li class="list-inline-item">
                                        <small><i class="icon-message"></i> 25</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!-- end card -->
</div>
