<article>
  <strong>Matched Industries Match:</strong><br>
  <% current_user.business.industries_match(@business).each do |list| %>
    <span class="badge badge-secondary"><%= list %></span>
  <% end %>
</article>
<article>
  <strong>Matched Customer Interests:</strong><br>
  <% current_user.business.customer_skills_match(@business).each do |list| %>
    <span class="badge badge-secondary"><%= list %></span>
  <% end %>
</article>

<article>
  <h5 class="mb-4">Business Description</h5>
  <p>
    <%= @business.description %>
  </p>
</article>
