<h5> Need to figure out how to input Video URL in Ruby, then delete this header </h5>
<div class="video-cover rounded">

    <div class="video-play-icon">
        <i class="fab fa-youtube"></i>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="425" height="349" src="<%= @business.url %>" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
