<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <div><i class="icon-text-document mr-1"></i> 3 Mutual Clicks (need to Insert Ruby)</div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <div><i class="icon-edit mr-1"></i>7 Matched Skills (need to Insert Ruby)</div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <div><i class="icon-thumbs-up mr-1"></i>7 Matched Interests (need to Insert Ruby)</div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <div><i class="icon-share mr-1"></i> Something Else? (need to Insert Ruby)</div>

            </div>
        </li>
    </ul>
</div>
