<div class="main-container">
  <section class="bg-white">
      <div class="container">
          <div class="row justify-content-around align-items-center">
              <div class="col-8 col-md-7 col-lg-6 order-md-2 mb-5 mb-md-0">
                  <img alt="Image" src="/assets/img/man.svg" class="w-100" />
              </div>
              <!--end of col-->
              <div class="col-12 col-md-6 col-lg-5 order-md-1">
                  <h1 class="display-4">Build a stunning website</h1>
                  <span class="lead">
                      AIME, our Artificial Interaction Matching Engine aggregates your Business Data, your Interactions in Clique Connect and the Behavioural Interaction data of your competitors to create a network of business partnership recommendations to scale your business.
                  </span>
                  <div class="mb-4">
                      <span class="text-muted text-small">Limited Beta for the first 1000 Users</span>
                  </div>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up to Beta</a>
                  <a href="#" class="btn btn-link btn-lg"><i class="icon-controller-play">&nbsp;</i>View Video</a>
              </div>
              <!--end of col-->
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
    <!--end of section-->
    <section class="space-lg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <ul class="list-inline list-inline-large">
                        <li class="list-inline-item">
                            <img alt="Image" class="logo logo-lg" src="/assets/img/logo-paypal.png" />
                        </li>
                        <li class="list-inline-item">
                            <img alt="Image" class="logo logo-lg" src="/assets/img/logo-slack.png" />
                        </li>
                        <li class="list-inline-item">
                            <img alt="Image" class="logo logo-lg" src="/assets/img/logo-invision.png" />
                        </li>
                        <li class="list-inline-item">
                            <img alt="Image" class="logo logo-lg" src="/assets/img/logo-intercom.png" />
                        </li>
                    </ul>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="bg-white space-lg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="media">
                        <img alt="Image" src="/assets/img/avatar-female-2.jpg" class="avatar avatar-lg" />
                        <div class="media-body">
                            <p class="h3 mb-2">
                                “With Clique Native, we were able to create a Partnership with 4 Companies, increasing revenue by 300% as a direct result of the partnerships made.”
                            </p>
                            <span>Charly Martin, Le Wagon</span>
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="bg-white flush-with-above">
        <div class="container">
            <ul class="feature-list feature-list-lg">
                <li class="row justify-content-around align-items-center">
                    <div class="col-9 col-md-6 col-lg-5">
                        <img alt="Image" src="assets/img/graphic-woman-writing.svg" class="img-fluid rounded" />
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-6 col-lg-5">
                        <h5>Set your phasers to stun</h5>
                        <p>
                            A paragraph, from the Greek paragraphos, "to write beside" or "written beside", is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
                        </p>
                        <a href="#">More about Phasers &rsaquo;</a>
                    </div>
                    <!--end of col-->
                </li>
                <li class="row justify-content-around align-items-center">
                    <div class="col-9 col-md-6 col-lg-5 order-lg-2">
                        <img alt="Image" src="/assets/img/graphic-woman-writing-2.svg" class="img-fluid rounded" />
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-6 col-lg-5 order-lg-1">
                        <h5>Let the world know</h5>
                        <p>
                            A paragraph, from the Greek paragraphos, "to write beside" or "written beside", is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
                        </p>
                        <a href="#">More about Team Collaboration &rsaquo;</a>
                    </div>
                    <!--end of col-->
                </li>
            </ul>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="space-lg">
        <div class="container">
            <div class="row section-intro">
                <div class="col-12 text-center">
                    <h3 class="h1">Don’t even wait, sign up now for a 30 day trial.</h3>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
            <form>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" type="text" class="form-control form-control-lg" placeholder="Pick a username">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input id="email" type="email" class="form-control form-control-lg" placeholder="you@domain.com">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" type="password" class="form-control form-control-lg" placeholder="Choose a password">
                            <small class="form-text">At least seven letters with one numeral</small>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="button">&nbsp;</label>
                            <button id="button" type="submit" class="btn btn-lg btn-block btn-primary">Sign up for Wingman</button>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </form>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="space-xs text-center bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <i class="mr-1 icon-cake"></i>
                    <span class="mr-2">We’ve added some fantastic new features in V2</span>
                    <a href="#" class="text-white">View changelog &rsaquo;</a>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
  </div>

