<div class="main-container">
  <section class="bg-white">
      <div class="container">
          <div class="row justify-content-around align-items-center">
              <div class="col-8 col-md-7 col-lg-6 order-md-2 mb-5 mb-md-0">
                  <img alt="Image" src="/assets/img/graphic-woman-writing.svg" class="w-100" />
              </div>
              <!--end of col-->
              <div class="col-12 col-md-6 col-lg-5 order-md-1">
                  <h1 class="display-4">Find your Tribe</h1>
                  <span class="lead">
                      Create the Partnerships that will fund the next 10 years of success, today.

                  </span>
                  <div class="mb-4">
                      <span class="text-muted text-small">Help us find your Tribe today.</span>
                  </div>
                  <%= link_to 'Sign Up to the Beta here', new_user_registration_path, :class => 'btn btn-primary' %>

              </div>
              <!--end of col-->
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
    <!--end of section-->
    <section class="space-lg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <ul class="list-inline list-inline-large">
                        <li class="list-inline-item">
                            <img alt="Image" class="logo logo-lg" src="/assets/img/logo-paypal.png" />
                        </li>
                        <li class="list-inline-item">
                            <img alt="Image" class="logo logo-lg" src="/assets/img/logo-slack.png" />
                        </li>
                        <li class="list-inline-item">
                            <img alt="Image" class="logo logo-lg" src="/assets/img/logo-invision.png" />
                        </li>
                        <li class="list-inline-item">
                            <img alt="Image" class="logo logo-lg" src="/assets/img/logo-intercom.png" />
                        </li>
                    </ul>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="bg-white space-lg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="media">
                        <img alt="Image" src="/assets/img/avatar-female-3.jpg" class="avatar avatar-lg" />
                        <div class="media-body">
                            <p class="h4 mb-2">
                                “With Clique Native, we were able to create strategic Parnerships that increased top-line revenue by 300%.”
                            </p>
                            <span>Charly Martin, Le Wagon</span>
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="bg-white flush-with-above">
        <div class="container">
            <ul class="feature-list feature-list-lg">
                <li class="row justify-content-around align-items-center">
                    <div class="col-9 col-md-6 col-lg-5">
                        <img alt="Image" src="assets/img/man.svg" class="img-fluid rounded" />
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-6 col-lg-5">
                        <h5>Meet AIME, our Artificial Interaction Management Engine</h5>
                        <p>
                            We built AIME to superceed the linear cognitive processing of the Human brain. In lamens terms, we combine your Business Data, Behavioral Data and Customer Persona data to generate over 2000 data points when you sign up! As you use Clique Native, your behavior is passed to AIME to help refine your matches.
                        </p>
                        <a href="#">I want to meet AIME &rsaquo;</a>
                    </div>
                    <!--end of col-->
                </li>
                <li class="row justify-content-around align-items-center">
                    <div class="col-9 col-md-6 col-lg-5 order-lg-2">
                        <img alt="Image" src="/assets/img/graphic-woman-writing-2.svg" class="img-fluid rounded" />
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-6 col-lg-5 order-lg-1">
                        <h5>Create a warm connection </h5>
                        <p>
                            AIME links every business on the Clique platform together and defines a rating. This rating is based upon over 2000 data points. AIME will tell both companies if they match, on what specific criteria and how interested each party is.
                        </p>
                        <a href="#">Ok, now I am ready to meet AIME &rsaquo;</a>
                    </div>
                    <!--end of col-->
                </li>
            </ul>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="space-lg">
        <div class="container">
            <div class="row section-intro">
                <div class="col-12 text-center">
                    <h3 class="h1">Want to stay up to date with Clique Native?</h3>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
            <form>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" type="text" class="form-control form-control-lg" placeholder="Pick a username">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input id="email" type="email" class="form-control form-control-lg" placeholder="you@domain.com">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" type="password" class="form-control form-control-lg" placeholder="Choose a password">
                            <small class="form-text">At least seven letters with one numeral</small>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label for="button">&nbsp;</label>
                            <button id="button" type="submit" class="btn btn-lg btn-block btn-primary">Sign up for Clique Native</button>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </form>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="space-xs text-center bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <i class="mr-1 icon-cake"></i>


                    <span>&copy; All Rights Reserved, Clique Media Group Pty Ltd 2018</span>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
  </div>

